<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Register as Auditor</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static "registration/images/icons/favicons.png"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/vendor/bootstrap/css/bootstrap.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/fonts/font-awesome-4.7.0/css/font-awesome.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/fonts/Linearicons-Free-v1.0.0/icon-font.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/vendor/animate/animate.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/vendor/css-hamburgers/hamburgers.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/vendor/select2/select2.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/css/util.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "registration/css/main.css"%}">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100" style="background-image:url('../static/registration/images/Image.jpg');">
			<div class="wrap-login100 p-t-190 p-b-30">
				<form class="login100-form validate-form" method="post">

					{% if form.errors %}
					<div class="p-b-30">
						{% for field in form %}
								{% for error in field.errors %}
										<div class="" style="color:black;" >
												<strong>{{ error|escape }}</strong>
										</div>
								{% endfor %}
						{% endfor %}

						{% for error in form.non_field_errors %}
								<div class=" " style="color:black;"  >
										<strong>{{ error|escape }}</strong>
								</div>
						{% endfor %}
					</div>
					{% endif %}


					<div class="login100-form-avatar">
						<img src="{% static "registration/images/Capture.PNG"%}" alt="user">
					</div>
					<span class="login100-form-title p-t-20 p-b-45">
						Sign Up
					</span>
<form class="">

	{% csrf_token %}

					{% for value, text in form.type.field.choices %}
					<div class="txt" >
					    <input id="id_type_{{ forloop.counter0 }}" name="{{ form.type.name }}" type="checkbox" value="{{ value }}"
							{% ifequal value "auditor" %} checked onclick="return false" {% endifequal %}>
					    <label value="{{ text }}" >{{ text }}</label>
					</div>
					{% endfor %}

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Firstname is required">
						<input class="input100" type="text" autocomplete="off" name="first_name" placeholder="Firstname" value='{{ form.first_name.clean }}'>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user-plus"></i>
						</span>
					</div>


					<div class="wrap-input100 validate-input m-b-10" data-validate = "Lastname is required">
						<input class="input100" type="text" autocomplete="off" name="last_name" placeholder="Lastname" value='{{ form.last_name.clean }}'>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
						<input class="input100" type="text" autocomplete="off" name="username" placeholder="Username" value='{{ form.username.clean }}'>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-id-card"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Email is required">
						<input class="input100" type="text" autocomplete="off" name="email" placeholder="Email" value='{{ form.email.clean }}'>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Phone number is required">
				  	<input class="input100" type="text" autocomplete="off" name="Phone" placeholder="Phone" value='{{ form.Phone.clean }}'>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-phone"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<input class="input100" type="password" autocomplete="off" name="password1" placeholder="Password" value='{{form.password1.clean}}'>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<input class="input100" type="password" autocomplete="off" name="password2" placeholder="Repeat Password" value='{{form.password2.clean}}'>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>


					<div class="container-login100-form-btn p-t-10">
						<input class="login100-form-btn" type="submit" value="Sign Up">
					</div>
</form>
					<div class="text-center w-full p-t-25 p-b-230">
						<a href="#" class="txt1">
							Forgot Username / Password?
						</a>
					</div>

					<div class="text-center w-full">
						<a class="txt1" href="{% url 'login'%}">
							Already have an account? Sign In Now
							<i class="fa fa-long-arrow-right"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="{% static "registration/vendor/jquery/jquery-3.2.1.min.js"%}"></script>
<!--===============================================================================================-->
	<script src="{% static "registration/vendor/bootstrap/js/popper.js"%}"></script>
	<script src="{% static "registration/vendor/bootstrap/js/bootstrap.min.js"%}"></script>
<!--===============================================================================================-->
	<script src="{% static "registration/vendor/select2/select2.min.js"%}"></script>
<!--===============================================================================================-->
	<script src="{% static "registration/js/main.js"%}"></script>

</body>
</html>
