<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Login In</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static "registration/images/icons/favicons.png"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/vendor/bootstrap/css/bootstrap.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/fonts/font-awesome-4.7.0/css/font-awesome.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/fonts/Linearicons-Free-v1.0.0/icon-font.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/vendor/animate/animate.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/vendor/css-hamburgers/hamburgers.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/vendor/select2/select2.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/css/util.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "registration/css/main.css"%}">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100" style="background-image:url('../static/registration/images/Image.jpg');">
			<div class="wrap-login100 p-t-190 p-b-30">
				<form class="login100-form validate-form" method="post">

					{% if form.errors %}
					<div class="p-b-30">
						{% for field in form %}
								{% for error in field.errors %}
										<div class="" style="color:black;" >
												<strong>{{ error|escape }}</strong>
										</div>
								{% endfor %}
						{% endfor %}

						{% for error in form.non_field_errors %}
								<div class=" " style="color:black;"  >
										<strong>{{ error|escape }}</strong>
								</div>
						{% endfor %}
					</div>
					{% endif %}

					<div class="login100-form-avatar">
						<img src="{% static "registration/images/Capture.PNG"%}" alt="user">
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
						Sign In
					</span>
<form class="" action="{% url 'login' %}" >

	{% csrf_token %}

					{% for value, text in form.type.field.choices %}
					<div class="txt data-validate" >
							<input id="id_type_{{ forloop.counter0 }}" name="{{ form.type.name }}" type="radio" value="{{ value }}" data-validate = "User category must be chosen">
							<label value="{{ text }}" >{{ text }}</label>
					</div>
					{% endfor %}

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Email is required">
						<input class="input100" type="text" name="email" placeholder="Email" value='{{ form.email.clean }}'>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password" value='{{form.password.clean}}'>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>

					<div class="container-login100-form-btn p-t-10">
						<input class="login100-form-btn" type="submit" value="Login">
					</div>
</form>
					<div class="text-center w-full p-t-25 p-b-230">
						<a href="#" class="txt1">
							Forgot Username / Password?
						</a>
					</div>

					<div class="text-center w-full">
						<p class="txt1" > Create new account? Register Now as: </p>
							<a class="txt1 fa" href="{% url 'signupAdmin' %}">
								Admin
							</a>
							<a class="txt1 fa" href="{% url 'signupUser' %}">
								User
							</a>
							<a class="txt1 fa" href="{% url 'signupAuditor' %}">
								Auditor
								<i class="fa fa-long-arrow-right"></i>
							</a>


					</div>
				</form>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="{% static "registration/vendor/jquery/jquery-3.2.1.min.js"%}"></script>
<!--===============================================================================================-->
	<script src="{% static "registration/vendor/bootstrap/js/popper.js"%}"></script>
	<script src="{% static "registration/vendor/bootstrap/js/bootstrap.min.js"%}"></script>
<!--===============================================================================================-->
	<script src="{% static "registration/vendor/select2/select2.min.js"%}"></script>
<!--===============================================================================================-->
	<script src="{% static "registration/js/main.js"%}"></script>

</body>
</html>
