{% extends 'app_admin/base.html'%}
{% load static %}
{%block content%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
{% endblock %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
 <div class="row page-titles">
     <div class="col-md-5 align-self-center">
         <h3 class="text-themecolor"><a href='{%url "app_admin:admin_alerts" username=user.username%}'>Alerts &amp; Reports</a></h3>

     </div>
     <div class="col-md-7 align-self-center">
         <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
             <li class="breadcrumb-item active">Alerts &amp; Reports</li>
         </ol>
     </div>
     <div class="">
         <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
     </div>
 </div>
 <!-- ============================================================== -->
 <!-- End Bread crumb and right sidebar toggle -->
 <!-- ============================================================== -->
 {%block js%}
 <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
 <script src="{% static 'js/app.min.js' %}"></script>
 {%endblock%}
{%endblock%}
